$background-color: var(--background-color);
$background-color-dark: var(--background-color-dark);
$text-color: var(--text-color);

$primary-color: var(--primary-color);
$primary-color-hover: var(--primary-color-hover);

$primary-color-light: var(--primary-color-light);
$primary-color-dark: var(--primary-color-dark);

$font-family: var(--font-family);
$font-family-read: var(--font-family-read);
