<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fritiof Rusck</title>
    <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="/styles/default.css" />
    <link rel="stylesheet" href="/styles/home.css" />

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;900&family=Salsa&display=swap"
      rel="stylesheet"
    />
    <script src="/scripts/index.js" defer></script>
  </head>
  <body class="disable-transition">
    <%- await include('hero.html'); -%>
    <!-- -->
    <%- await include('about-me.html'); -%>
    <!-- -->
    <%- await include('projects.html'); -%>
    <!-- -->
    <%- await include('contact.html'); -%>

    <footer>
      <p>Website built with Love and Coffee</p>
      <p>
        <a target="_blank" href="https://github.com/PumpedSardines/fritiof-dev">
          View the source code on GitHub
        </a>
      </p>
    </footer>
  </body>
</html>
